_background = #F7FCFF

.rootMain
  margin-top 32px
  border 1px solid lightblue
  border-radius 8px
  padding 24px
  background-color _background
  align-items center
  justify-content center

.row
  display flex
  flex-direction row
  align-items center
  justify-content space-around

.counterText
  text-align center